# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd


# macOS metadata
.DS_Store

# Build / virtual environment directories
build/
dist/
venv/
.env/

# Logs
*.log

# Ignore all CSV datasets
*.csv
